@import '../../components/variables.css';

.root {
  padding: 0 45px;
  margin: 0 auto;
  max-width: var(--max-content-width);
  box-sizing: content-box;

  @media (--lt-tablet) {
    padding: 0 20px;
  }
  @media (--lt-phone) {
    padding: 0 20px;
  }

  > * {
    box-sizing: border-box;
  }
}
