@import '../variables.css';

.root {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--neutral-0);
  z-index: 80;
  border-top: 1px var(--neutral-60) solid;
  padding-bottom: 0;
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  padding-bottom: env(safe-area-inset-bottom);
}

.topLinks {
  color: var(--neutral-100);
  font-size: 15px;
  padding: 48px 0 50px;
  margin: 0 auto;

  @media (--lt-tablet) {
    padding: 25px 0;
  }

  svg {
    fill: currentColor;
  }

  a {
    color: currentColor;
    display: block;
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  li {
    @media (--lt-tablet) {
      text-align: center;
    }

    &:first-child,
    &:last-child {
      @media (--lt-tablet) {
        display: none;
      }
    }

    &:not(:first-child) {
      margin-left: 40px;

      @media (--lt-tablet) {
        margin-left: 0;
      }
    }

    &:last-child {
      margin-left: auto;

      @media (--lt-tablet) {
        margin: auto;
        width: 100%;
      }
    }
  }
}

.legalSocial {
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
  font-size: 13px;
  color: var(--neutral-100);

  @media (--lt-tablet) {
    border-top: 1px solid var(--neutral-60);
    flex-direction: column;
    padding: 25px 0;

    ul:first-child {
      margin-bottom: 10px;
    }
  }

  @media (--lt-small-phone) {
    /* bottom row */
    ul:last-child {
      margin: 0 auto;

      li:first-child {
        display: none;
      }

      li:nth-child(2) {
        margin-left: 0;
        padding-left: 0;
      }
    }
  }

  a {
    color: currentColor;
  }

  ul {
    display: flex;
  }

  li {
    line-height: 14px;

    &:not(:first-child) {
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid #dedfe3; /* maybe var for this? */
    }

    &:nth-child(2) {
      border-left: none;

      @media (--lt-tablet) {
        margin-left: auto;
      }
    }
  }
}

.terms {
  span:first-child {
    display: block;

    @media (--lt-phone) {
      display: none;
    }
  }

  span:last-child {
    display: none;

    @media (--lt-phone) {
      display: block;
    }
  }
}

.copyright {
  @media (--tablet-and-up) {
    margin-right: 20px;
  }
}
